.info {
  display: flex;
  justify-content: space-evenly;
}
.article {
  margin: auto;
  text-align: center;
}
.paragraphe {
  text-align: justify;
}
.remerciement {
  margin: auto;
  width: 800px;
  text-align: center;
}
